<p>Bom dia &#128512;</p>
<form>


  <h1>conversor de moedas, reias para dolar</h1>
  <input type="number" name="reais"  [(ngModel)]="reais">
  <button (click)="converter()">converter</button>
  <input [value]="converte">
  <br>
  Dividir a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Dólar: US$ 1 = R$ 5. <br>
  Cálculo vai se: REAIS / 5.<br>




  <input type="number" name="dolar" [(ngModel)]="dolar">
  <button (click)="converter()">converter</button>
  <input [value]="converte2">
  <br>
  MUltiplica a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Real: R$ 5 = US$ 1  <br>
  Cálculo vai se: DOLAR * 5.<br>


    <h3></h3>
  <input type="number" name="euro" [(ngModel)]="euro">
  <button (click)="converter()">converter</button>
  <input [value]="converte3">
  <br>
  MUltiplica a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Real: EUR 1 =R$ 5,51 <br>
  Cálculo vai se: REAL * 5,51  .<br>

</form>
