<form style="text-align: center;">
<fieldset>
  <h1>conversor de moedas, reias pro dolar</h1>
  digite  a cotacao do dolar
  <input type="number" name="cotacao"  [(ngModel)]="cotacao">
  <br><br>
  <input type="number" name="reais"  [(ngModel)]="reais">
  <button (click)="converter()">converter</button>
  <input [value]="converte">
  <br>
  <p>
  Exemplo
  <br>
  Dividir a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Dólar: US$ 1 = R$ 5. <br>
  Cálculo vai se: REAIS / 5.<br><br><br><br><br>
 </p>
</fieldset>
<fieldset>
  <h2>Dolar pro Reias</h2>
  digite  a cotacao do Real
  <input type="number" name="cotacao1"  [(ngModel)]="cotacao1">
  <br><br>
  <input type="number" name="dolar" [(ngModel)]="dolar">
  <button (click)="converter()">converter</button>
  <input [value]="converte2">
  <p>
  <br>
  Exemplo
  <br>
  MUltiplica a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Real: R$ 5 = US$ 1  <br>
  Cálculo vai se: DOLAR * 5.<br><br><br><br><br><br><br>
  </p>
</fieldset>

<fieldset>
    <h3>Euro pro real</h3>
    digite  a cotacao do Real
  <input type="number" name="cotacao2"  [(ngModel)]="cotacao2">
  <br><br>
  <input type="number" name="euro" [(ngModel)]="euro">
  <button (click)="converter()">converter</button>
  <input [value]="converte3">
  <br>
  <p>
  Exemplo
  <br>
  MUltiplica a quantia pela cotação da moeda no dia <br>
  O Valor da cotação do Real: EUR 1 =R$ 5,51 <br>
  Cálculo vai se: REAL * 5,51  .<br>
  </p>
</fieldset>
</form>
